<style>
    .speed-value {
        position: absolute;
        border: 2px solid #f05b41;
        border-radius: 50%;
        width: 110px;
        height: 110px;
        left: 28%;
        top: 36%;
        line-height: 100px;
    }

        .speed-value > span {
            font-size: 50px;
            font-weight: lighter;
            color: #f05b41;
        }

    .gray .dx-tab {
        background-color: darkgray;
    }

    .lib-flight {
        border: 1px solid #ccc;
        /*margin: 4px 6px 0 6px;*/
        /*padding:20px !important;*/
        display: block;
        background-color: cornsilk;
    }

    #scheduler-xs .dx-scheduler-work-space.dx-scheduler-work-space-month .dx-scheduler-date-table-cell {
        height: 50px !important;
    }
    /*.dx-item.dx-scheduler-appointment.dx-scheduler-appointment-horizontal{
        width:25px !important;
        height:25px !important;
        border-radius:50%;


    }*/
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 7px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

        .active, .accordion:hover {
            background-color: #ccc;
        }

        .accordion:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

    .active:after {
        content: "\2212";
    }

    .panel {
        padding: 0 0px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .dx-scheduler-work-space.dx-scheduler-work-space-month .dx-scheduler-date-table-cell > div {
        font-size: 12px;
        padding: 4px !important;
    }

    .dx-item.dx-scheduler-appointment.dx-scheduler-appointment-horizontal.dx-resizable.dx-draggable {
        height: 26px !important;
        top: -7px !important;
    }

    .dx-scheduler-work-space.dx-scheduler-work-space-month .dx-scheduler-appointment-content {
        padding-top: 0 !important;
    }

    .scheduled {
        color: #ffd480 !important;
    }

    .boarding {
        color: #ff66ff !important;
    }

    .start {
        color: #80ffff !important;
    }

    .taxi {
        color: #00b3b3 !important;
    }

    .departed {
        color: #00ff00 !important;
    }

    .offblocked {
        color: #80ffff !important;
    }

    .onblocked {
        color: #66b3ff !important;
    }



    .arrived {
        color: #99ccff !important;
    }

    .canceled {
        color: #808080 !important;
    }

    .delay {
        color: #ff0000 !important;
    }

    .inactive {
        color: #cccccc !important;
    }

    .diverted {
        color: #e6e600 !important;
    }

    .redirect {
        color: #e6e600 !important;
    }

    .ground {
        color: #ff8000 !important;
    }

    .nodata {
        color: #787878 !important;
    }

    .returntoramp {
        color: #9900cc !important;
    }

    .selected {
        background: #e6e6e6 !important;
    }
</style>
<div style="height:100%;">
    <div class="box home maincontainer" style="height:100%;overflow-y:hidden;max-width:1200px;margin:0 auto 0 auto">


        <div class="rowx header" ng-include="'app/views/header.html'"></div>
        <div style="position:relative;">
            <div ng-include="'app/views/menu.html'"></div>
        </div>

        <div class="rowx content" style="clear:both;background:#f0f3f5; ">
            <div id="scrollview" dx-scroll-view="scroll_main">
                <div style="padding-top:2px;padding-right:5px;padding-left:5px">


                </div>
                <div style="clear:both"></div>

            </div>
        </div>
        <div class="rowx footer app-footer" ng-include="'app/views/footer.html'" ng-init="type = 'apphome';" style="padding:0;flex:0 0 45px"></div>
    </div>


    <div dx-load-panel="loadPanel"></div>
</div>




